# Data Structures

## Lists

- **List properties:** ordered, iterable, mutable, can contain multiple data types

### Creating a list

In [ ]:
list1 = [0,1,2,3,4]   # notice we use square brackets

list2 = list('Hello')  # Passing a string to the list function gives a list of individual letters
print(list1, list2)

[0, 1, 2, 3, 4] ['H', 'e', 'l', 'l', 'o']

### Methods one can use with lists

In [ ]:
list1.append(5)   # list.appen() is a method to add an element to the existing elements to a list
print(list1)

[0, 1, 2, 3, 4, 5]

In [ ]:
list1.clear()  # list.clear() removes all the elements of the list
print(list1)

[]

In [ ]:
list3 = list2.copy()  # list.copy() returns a copy of the list
print(list3)

['H', 'e', 'l', 'l', 'o']

In [ ]:
number_of_l = list3.count('l')   # returns the number of times a certain value occurs
print(number_of_l)

2

In [ ]:
list3.extend(list2)  # Extend one list using another list
print(list3)

['H', 'e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o']

In [ ]:
list3.index('o')   # list3.index() returns the index of an element in the list
#If there are multiple entries of the same element multiple times, the method returns the first occurance

4

In [ ]:
list3.insert(3, 4)   # list.index() Insert an elemtent at a specific location
print(list3)

['H', 'e', 'l', 4, 'l', 'o', 'H', 'e', 'l', 'l', 'o']

In [ ]:
list3.pop(3)   # list.pop() removes an element and returns the element specified by its index location

4

In [ ]:
list3.remove('H')   # list.remove() removes an element from the list. If there are multiple occurances, it removes the first one
print(list3)

['e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o']

In [ ]:
list3.reverse()  # list.reverse() reverses the list
print(list3)

['o', 'l', 'l', 'e', 'H', 'o', 'l', 'l', 'e']

In [ ]:
list3.sort()  # list.sort() sorts the list in alphabetical order and incase of numbers, it sorts in ascending order
print(list3)

['H', 'e', 'e', 'l', 'l', 'l', 'l', 'o', 'o']

### Indexing a list

In [ ]:
list3[2]   # Mention the index of the element to be extracted

'e'

In [ ]:
list3[-2]  # Python has negative indexing

'o'

In [ ]:
list3[2:5]   # Extract a slice of the list from position 2 to 5. Notice that

['e', 'l', 'l']

In [ ]:
list3[:-2]  # All elements from the start until the 3rd element from the end

['H', 'e', 'e', 'l', 'l', 'l', 'l']

In [ ]:
list3[::2] #The format is list[start : end : step] 
# Since we have given step as 2, it takes every element which is a multiple of 2

['H', 'e', 'l', 'l', 'o']

## Tuples

- **Tuple properties:** ordered, iterable, immutable, can contain multiple data types
- Like lists, but they don't change size

In [ ]:
# create a tuple directly
digits = (0, 1, 'two')
digits

(0, 1, 'two')

In [ ]:
# create a tuple from a list
digits = tuple([0, 1, 'two'])
digits

(0, 1, 'two')

In [ ]:
# trailing comma is required to indicate it's a tuple
zero = (0,)

**Examine a tuple:**

In [ ]:
digits[2]

len(digits)

3

In [ ]:
# counts the number of instances of that value
digits.count(0)

1

In [ ]:
# returns the index of the first instance of that value
digits.index(1)

1

**Modify a tuple:**

In [ ]:
# elements of a tuple cannot be modified (this would throw an error)
# digits[2] = 2

# concatenate tuples
digits = digits + (3, 4)
digits

(0, 1, 'two', 3, 4)

**Other tuple operations:**

In [ ]:
# create a single tuple with elements repeated (also works with lists)
(3, 4) * 2

(3, 4, 3, 4)

In [ ]:
# sort a list of tuples
tens = [(20, 60), (10, 40), (20, 30)]
sorted(tens)    # sorts by first element in tuple, then second element

[(10, 40), (20, 30), (20, 60)]

In [ ]:
# tuple unpacking
bart = ('male', 10, 'simpson')    # create a tuple
(sex, age, surname) = bart        # assign three values at once
print(sex)
print(age)
print(surname)

male
10
simpson

##  Dictionaries

- **Dictionary properties:** unordered, iterable, mutable, can contain multiple data types
- Made of key-value pairs
- Keys must be unique, and can be strings, numbers, or tuples
- Values can be any type

### Creating a dictionary

In [ ]:
dict1 = {'Ed' : [12, 'leader'], 'Edd' : [ 11, 'smart'], 'Eddy' : [10, 'kind'] }
# Notice we use flower brackets to declare a dictionary. Dictionaries have key-value pairs

print(dict1)

{'Ed': [12, 'leader'], 'Edd': [11, 'smart'], 'Eddy': [10, 'kind']}

In [ ]:
dict2 = {}
dict2['Bubbles'] = [9, 'sweet']
dict2['Blossom'] = [10, 'leader']
dict2['Buttercup'] = [11, 'tomboy']
dict2

{'Bubbles': [9, 'sweet'],
 'Blossom': [10, 'leader'],
 'Buttercup': [11, 'tomboy']}

### Indexing a dictionary

In [ ]:
dict2.keys()    # dict.keys() to get all the keys of the dictionary

dict_keys(['Bubbles', 'Blossom', 'Buttercup'])

In [ ]:
dict2.values()  # dict.values() to get all the values in the dictionary

dict_values([[9, 'sweet'], [10, 'leader'], [11, 'tomboy']])

In [ ]:
dict2['Bubbles']    # To get values of a specific key

[9, 'sweet']

In [ ]:
# convert a list of tuples into a dictionary
list_of_tuples = [('dad', 'homer'), ('mom', 'marge'), ('size', 6)]
family = dict(list_of_tuples)
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

**Examine a dictionary:**

In [ ]:
# pass a key to return its value
family['dad']

'homer'

In [ ]:
# return the number of key-value pairs
len(family)

3

In [ ]:
# check if key exists in dictionary
'mom' in family

True

In [ ]:
# dictionary values are not checked
'marge' in family

False

In [ ]:
# returns a list of keys (Python 2) or an iterable view (Python 3)
family.keys()

dict_keys(['dad', 'mom', 'size'])

In [ ]:
# returns a list of values (Python 2) or an iterable view (Python 3)
family.values()

dict_values(['homer', 'marge', 6])

In [ ]:
# returns a list of key-value pairs (Python 2) or an iterable view (Python 3)
family.items()

dict_items([('dad', 'homer'), ('mom', 'marge'), ('size', 6)])

**Modify a dictionary (does not return the dictionary):**

In [ ]:
# add a new entry
family['cat'] = 'snowball'
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'cat': 'snowball'}

In [ ]:
# edit an existing entry
family['cat'] = 'snowball ii'
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'cat': 'snowball ii'}

In [ ]:
# delete an entry
del family['cat']
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [ ]:
# dictionary value can be a list
family['kids'] = ['bart', 'lisa']
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'kids': ['bart', 'lisa']}

In [ ]:
# remove an entry and return the value
family.pop('dad')

'homer'

In [ ]:
# add multiple entries
family.update({'baby':'maggie', 'grandpa':'abe'})
family

{'mom': 'marge',
 'size': 6,
 'kids': ['bart', 'lisa'],
 'baby': 'maggie',
 'grandpa': 'abe'}

**Access values more safely with `get`:**

In [ ]:
family['mom']

'marge'

In [ ]:
# equivalent to a dictionary lookup
family.get('mom')

'marge'

In [ ]:
# this would throw an error since the key does not exist
# family['grandma']

# return None if not found
family.get('grandma')

In [ ]:
# provide a default return value if not found
family.get('grandma', 'not found')

'not found'

**Access a list element within a dictionary:**

In [ ]:
family['kids'][0]

family['kids'].remove('lisa')
family

{'mom': 'marge',
 'size': 6,
 'kids': ['bart'],
 'baby': 'maggie',
 'grandpa': 'abe'}

**String substitution using a dictionary:**

In [ ]:
print('youngest child is %(baby)s' % family)  # the old way 
print(f"youngest child is {family['baby']}")  # The new and easy way

youngest child is maggie
youngest child is maggie

##  Sets

- **Set properties:** unordered, iterable, mutable, can contain multiple data types
- Made of unique elements (strings, numbers, or tuples)
- Like dictionaries, but with keys only (no values)

In [ ]:
# create an empty set
empty_set = set()
empty_set

set()

In [ ]:
# create a set directly
languages = {'python', 'r', 'java'}
languages

{'java', 'python', 'r'}

In [ ]:
# create a set from a list
snakes = set(['cobra', 'viper', 'python'])
snakes

{'cobra', 'python', 'viper'}

**Examine a set:**

In [ ]:
len(languages)

3

In [ ]:
'python' in languages

True

**Set operations:**

In [ ]:
# intersection
languages & snakes

{'python'}

In [ ]:
# union
languages | snakes

{'cobra', 'java', 'python', 'r', 'viper'}

In [ ]:
# set difference
languages - snakes

{'java', 'r'}

In [ ]:
# set difference
snakes - languages

{'cobra', 'viper'}

**Modify a set (does not return the set):**

In [ ]:
# add a new element
languages.add('sql')
languages

{'java', 'python', 'r', 'sql'}

In [ ]:
# try to add an existing element (ignored, no error)
languages.add('r')
languages

{'java', 'python', 'r', 'sql'}

In [ ]:
# remove an element
languages.remove('java')
languages

{'python', 'r', 'sql'}

In [ ]:
# try to remove a non-existing element (this would throw an error)
# languages.remove('c')

In [ ]:
# remove an element if present, but ignored otherwise
languages.discard('c')
languages

{'python', 'r', 'sql'}

In [ ]:
# remove and return an arbitrary element
languages.pop()

'python'

In [ ]:
# remove all elements
languages.clear()
languages

set()

In [ ]:
# add multiple elements (can also pass a set)
languages.update(['go', 'spark'])
languages

{'go', 'spark'}

**Get a sorted list of unique elements from a list:**

In [ ]:
sorted(set([9, 0, 2, 1, 0]))

[0, 1, 2, 9]